<%= form_for(@connection) do |f| %>
  <% if @connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
      <% @connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :initperson_id %><br>
    <%= f.number_field :initperson_id %>
  </div>
  <div class="field">
    <%= f.label :answerperson_id %><br>
    <%= f.number_field :answerperson_id %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :cdate %><br>
    <%= f.date_select :cdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
